.skillsIcon {
  border: #ff6b00 solid 1px;
  border-radius: 9999px;
  object-fit: cover;
  width: 6rem;
  height: 6rem;
}


@media screen and (min-width: 300px) {
  .skillsIcon {
    width: 4rem;
    height: 4rem;
  }
}

@media screen and (min-width: 600px) {
  .skillsIcon {
    width: 6rem;
    height: 6rem;
  }

}

@media screen and (min-width: 1200px) {
  .skillsIcon {
    width: 8rem;
    height: 8rem;
  }

}

.dev-icons {
  color: #ff6b00;
}

.cog-icons {
  color: #00ab55;
}

.block-icons {
  color: #1878fe;
}

/* Expertise Section css */
.spanIcon {
  line-height: 1;
  display: block;
  overflow: hidden;
  margin-bottom: 70px;
  margin-left: auto;
  margin-right: auto;
}

.cardCenter {
  background-color: rgb(33, 43, 54);
  box-shadow: rgb(0 0 0 / 40%) -40px 40px 80px 0px;
}

.css-avmrvc {
  background-color: rgb(33, 43, 54);
  color: rgb(255, 255, 255);
  background-image: none;
  overflow: hidden;
  z-index: 0;
  position: relative;
  border-radius: 16px;
}

.code-avmrvc {
  filter: drop-shadow(1.5px 1.5px 1.5px rgba(255, 72, 66, 0.48));
}

.cogs-avmrvc {
  filter: drop-shadow(1.5px 1.5px 1.5px rgba(0, 171, 85, 0.48));
}

.block-avmrvc {
  filter: drop-shadow(1.5px 1.5px 1.5px rgba(24, 144, 255, 0.48));
}

.cardCenter::before {
  inset: 0px;
  z-index: -1;
  content: '';
  margin: auto;
  position: absolute;
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  border-radius: 16px;
  background-color: rgb(33, 43, 54);
  box-shadow: rgb(0 0 0 / 12%) -20px 20px 40px 0px;
}

.websiteLink:hover {
  color: #00ab55;
}

/* accordian margin  */
.space {
  margin-bottom: 0.5em;
}

/* Angled div  */
.background::before,
.background::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #161c24;
  bottom: 0;
}

.background::before {
  right: 50%;
  transform: skew(0, 8deg);
  z-index: 5;
}

.background::after {
  left: 50%;
  transform: skew(0, -8deg);
  z-index: 5;
}
